.App {
  text-align: center;
}
.black-nav{
  display: flex;
  background-color: pink;
  width: 100%;
  color: green;
  padding-left: 20px;
}
div {
  box-sizing: border-box;
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px brown solid;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.modal {
  text-align: left;
  background-color: lightgrey;
  padding: 20px;
  margin-top: 10px;
  border: 1px dashed gray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}ddddd

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
